<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<div class="container">
		<img src="/img/404.jpg" height="241" width="500" alt="">
	</div>
</body>
</html>